[submodule "commands/core/AtCoder-Helper"]
	path = commands/core/AtCoder-Helper
	url = https://github.com/uni-kakurenbo/AtCoder-Helper.git
[submodule "sources/libraries/ac-library"]
	path = sources/libraries/ac-library
	url = https://github.com/atcoder/ac-library
[submodule "source/libraries/debug"]
	path = source/libraries/debug
	url = https://github.com/uni-kakurenbo/CppDebugger-for-CompetitionProgramming.git
[submodule "sources/libraries/debug"]
	path = sources/libraries/debug
	url = https://github.com/uni-kakurenbo/CppDebugger-for-CompetitionProgramming.git
