[submodule "sources/libraries/ac-library"]
	path = sources/libraries/ac-library
	url = https://github.com/atcoder/ac-library
[submodule "commands"]
	path = commands
	url = https://github.com/uni-kakurenbo/cp-commands.git
[submodule "sources/solutions"]
	path = sources/solutions
	url = https://github.com/uni-kakurenbo/cp-solutions.git
[submodule "sources/templates"]
	path = sources/templates
	url = https://github.com/uni-kakurenbo/cp-templates
[submodule "sources/others/themed_research"]
	path = sources/others/themed_research
	url = https://github.com/uni-kakurenbo/themed-research.git
[submodule "others/kusira/GBC"]
	path = others/kusira/GBC
	url = https://github.com/kusira/GBC.git
[submodule "original/private-tasks"]
	path = original/private-tasks
	url = https://github.com/uni-kakurenbo/cp-tasks.git
[submodule "others/_parallel-verify-sample"]
	path = others/_parallel-verify-sample
	url = https://github.com/uni-kakurenbo/_parallel-verify-sample.git
[submodule "others/parallel-verify-sample"]
	path = others/parallel-verify-sample
	url = https://github.com/uni-kakurenbo/parallel-verify-sample.git
[submodule "others/ALGORI"]
	path = others/ALGORI
	url = https://github.com/uno-solver/uno-solver.git
[submodule "original/contests/TGC"]
	path = original/contests/TGC
	url = https://github.com/TGC-Admin/TGC.git
[submodule "sources/libraries/uni"]
	path = sources/libraries/uni
	url = https://github.com/uni-kakurenbo/cp-library
[submodule "sources/libraries/testlib"]
	path = sources/libraries/testlib
	url = https://github.com/MikeMirzayanov/testlib.git
[submodule "others/AtCoder-language-update_2024-11/CXX23-GCC13"]
	path = others/AtCoder-language-update_2024-11/CXX23-GCC13
	url = https://github.com/uni-kakurenbo/AtCoder-Language-Update_2024-11_CXX23-GCC14-2-0_proposal.git
