{
    "printWidth": 120,
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "*.js",
                "*.ts"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
